<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="active">@ViewBag.BrandName </li>
            </ul>
            <div id="message"></div>
        </div>
    </div>

</div>


